body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

caption {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

h2 {
  text-align: center;
  color: #333;
}